@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*primary colors*/
    --brightOrange: hsl(31, 77%, 52%);
    --darkCyan: hsl(184, 100%, 22%);
    --veryDarkCyan: hsl(179, 100%, 13%);

    /*neutral colors*/
    --transparentWhite: hsla(0, 0%, 100%, 0.75); /*paragraphs*/
    --veryLightGray: hsl(0, 0%, 95%); /*background, headings, buttons*/
}

body {
    background-color: var(--veryLightGray);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    margin: 0 17% 0 17%;
}

footer {
    position: absolute;
    bottom: 0;
}

.sedanCard {
    background-color: var(--brightOrange);
    border-radius: 0.5rem 0 0 0.5rem;
}

.suvCard {
    background-color: var(--darkCyan);
}

.luxuryCard {
    background-color: var(--veryDarkCyan);
    border-radius: 0 0.5rem 0.5rem 0;
}

.sedanCard, .suvCard, .luxuryCard {
    padding: 3rem;
    max-width: 20rem;
}

.sedanTitle, .suvTitle, .luxuryTitle {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 35px;
    margin: 2rem 0rem 2rem 0rem;
    color: var(--veryLightGray);
}

.sedanText, .suvText, .luxuryText {
    text-align: left;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    margin-bottom: 5rem;
    color: var(--transparentWhite);
    line-height: 1.8rem;
}

.learnMoreButton {
    background: var(--veryLightGray);
    border: none;
    border-radius: 30px;
    height: 3rem;
    width: 9rem;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
}

.sedanCard .learnMoreButton {
    color: var(--brightOrange);
}

.suvCard .learnMoreButton {
    color: var(--darkCyan);
}

.luxuryCard .learnMoreButton {
    color: var(--veryDarkCyan);
}

.learnMoreButton:hover {
    cursor: pointer;
    color: var(--veryLightGray);
    border: 2px solid var(--veryLightGray);
    background: none;
}

@media screen and (max-width: 720px) {
    main {
        flex-direction: column;
        margin: 5rem 1rem;
    }

    .sedanCard {
        border-radius: 0.5rem 0.5rem 0 0;
    }

    .luxuryCard {
        background-color: var(--veryDarkCyan);
        border-radius: 0 0 0.5rem 0.5rem;
    }

    .sedanText, .suvText, .luxuryText {
        margin-bottom: 3rem;
    }

    footer {
        position: relative;
    }
}